<section id="information">
  <div class="flex flex-col md:px-16 gap-4">
    <div class="flex justify-between items-end">
      <div class="flex gap-2">
        <div class="bg-tertiary w-3"></div>
        <h1 class="font-semibold text-primary"><%= news.section.title %></h1>
      </div>
      <a href="/berita" class="underline text-tertiary font-semibold p-0"><%= news.section.href %></a>
    </div>

    <div class="relative overflow-hidden">
      <div class="slides news-slides">
        <% 
			const numberOfrows = news.data.length;
			const numberOfCardsPerPage = 4;
			const numberOfPages = Math.ceil(numberOfrows/numberOfCardsPerPage);
			for(let index=0; index<numberOfPages; index++) { 
		%>
        <div class="slide news-slide">
          <div class="flex w-full gap-4">
            <% 
			const startIndex = index * numberOfCardsPerPage;
			const endIndex = numberOfCardsPerPage * (index + 1);

			for(let n=startIndex; n<endIndex && n<numberOfrows; n++) { 
			%>
            <a class="info-card__home" href="/berita/<%=news.data[n].id%>">
              <div class="info-card-img__container">
                <img src="/img/berita/<%= news.data[n].pic %>" />
              </div>
              <p><%= news.data[n].title %></p>
              <span><%= news.data[n].subTitle %></span>
            </a>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>

      <div class="nav-buttons">
		<% for(let n=0; n<numberOfPages; n++) { %>
			<button onclick="handleSlideNews(<%=n%>)"><%=n + 1%></button>
		<% } %>
      </div>
    </div>
  </div>
</section>


<script>
  var newsSlidesContainer = document.querySelector(".news-slides");
  var slides = document.querySelectorAll(".news-slide");
  var currentSlide = 0;

  function handleSlideNews(index) {
    if (index >= 0 && index < slides.length) {
      newsSlidesContainer.style.transform = `translateX(${-index * 100}%)`;
      currentSlide = index;
    }
  }
</script>