<footer>
	<div class="flex flex-col bg-primary text-white md:px-16 mt-40">
		<div class="grid grid-cols-1 gap-12 lg:gap-6 lg:grid-cols-2 justify-between py-12">
			<div class="flex flex-col gap-12">
				<div class="flex flex-col md:flex-row gap-4">
					<div class="w-28 h-28 mx-auto md:mx-0">
						<img src="/img/logo-removebg-preview.png" class="w-full h-full" />
					</div>
					<div
						class="md:w-3/4 flex flex-col items-center md:items-start text-center md:text-start gap-2">
						<h6 class="font-semibold"><%= footerTranslation.label[0] %></h6>
						<hr class="w-12 border-4 border-tertiary" />
						<p class="text-sm leading-relaxed"><%- companyInfo.address %></p>
					</div>
				</div>
				<div class="w-full h-96 md:h-72 md:px-0">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1982.8772425343984!2d107.06634859839477!3d-6.295960800000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6991b750a22cff%3A0xd95236c26515bbb9!2sPTDI-STTD%20(POLITEKNIK%20TRANSPORTASI%20DARAT%20INDONESIA)!5e0!3m2!1sen!2ssg!4v1718984997974!5m2!1sen!2ssg"
						class="w-full h-full"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
			<div
				class="flex flex-col items-center md:items-start gap-8 md:gap-4 md:flex-row justify-between">
				<div
					class="flex flex-col items-center md:items-start w-1/2 text-center md:text-start gap-4 md:gap-2">
					<h6 class="font-semibold"><%= footerTranslation.label[1] %></h6>
					<hr class="w-12 border-4 border-tertiary" />
					<div class="flex flex-col text-sm gap-2">
						<% phoneNo.forEach(phoneNumber => { %>
							<p><%= phoneNumber.value %></p>
						<% }); %> 
						<% emails.forEach(email => { %>
							<p><%= email.value %></p>
						<% }); %>
					</div>
				</div>
				<div
					class="flex flex-col items-center md:items-start w-full text-center md:text-start gap-4 md:gap-2">
					<h6 class="font-semibold"><%= footerTranslation.label[2] %></h6>
					<hr class="w-12 border-4 border-tertiary" />
					<div class="grid grid-cols-3 md:grid-cols-4 xl:grid-cols-6 gap-4 text-sm">
						<% instagram.forEach(ig => { %>
						<a href="<%= ig.value %>" target="_blank" class="flex max-w-20 p-0">
							<img src="/img/instagram.png" class="w-full h-full" />
						</a>
						<% }); %> <% youtube.forEach(yt => { %>
						<a href="<%= yt.value %>" target="_blank" class="flex max-w-20 p-0">
							<img src="/img/youtube.png" class="w-full h-full" />
						</a>
						<% }); %> <% facebook.forEach(fb => { %>
						<a href="<%= fb.value %>" target="_blank" class="flex max-w-20 p-0">
							<img src="/img/facebook.png" class="w-full h-full" />
						</a>
						<% }); %>
					</div>
				</div>
			</div>
		</div>
		<div class="text-xs pt-6 pb-12 border-t border-gray-500">
			Copyright © 2024 by PTDI STTD. All Rights Reserved.
		</div>
	</div>
</footer>
