<!DOCTYPE html>
<html lang="en">
	<%- include('../../sections/head') %>

	<body>
		<%- include('../../sections/navbar') %>

		<div class="max-w-screen-2xl mx-auto">
			
			<%- include('./ourPurposeHero') %>

			<div class="flex flex-col w-full mb-20 items-center relative gap-2">
				<h1 class="font-bold md:text-6xl bg-white px-4 text-tertiary">
					<%=ourPurposeHero.visionMission%>
				</h1>
				<hr class="h-2 w-20 bg-tertiary" />
			</div>

			<div class="flex flex-col md:gap-12 px-4 2xl:px-0">
				<div class="flex flex-col mb-32">
					<div class="our-purpose">
						<div class="flex flex-col md:flex-row gap-8 h-[50rem] md:h-96">
							<div class="md:w-1/2">
								<img
									src="/img/tugas-fungsi.jpg"
									class="w-full h-full object-cover backdrop-blur-sm shadow-xl shadow-gray-500 rounded" />
							</div>
							<div class="flex flex-col md:w-1/2">
								<div class="flex w-fit justify-evenly gap-4 tablist">
									<% tabListItems.forEach((item, index) => { 
										let activeClass = '';
										if (index == 0) {
											activeClass = 'active';
										}
									%> 
										<div class="tablist-item group <%=activeClass%>">
											<p><%=item.title%></p>
										</div>
									<% }); %>
								</div>
								<div class="tablist-content">
									<% tabListItems.forEach((item, index) => { 
										let hiddenClass = '';
										if (index > 0) {
											hiddenClass = 'hidden';
										}
									%> 
										<div class="tablist-content-item <%=hiddenClass%>">
											<%-item.content%>
										</div>
									<% }); %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%- include('../../sections/footer') %>
        <%- include('../../components/chatWidget') %>
	</body>

	<script src="/js/navbarUtils.js"></script>
	<script>
		const tabListItem = document.querySelectorAll(".tablist-item");
		const tabListContentItem = document.querySelectorAll(".tablist-content-item");

		tabListItem.forEach((item, index) => {
			item.addEventListener("mouseup", () => {
				resetTabListState();
				if (tabListContentItem[index].classList.contains("hidden")) {
					tabListContentItem[index].classList.remove("hidden");
				}
				tabListItem[index].classList.add("active");
			});
		});

		function resetTabListState() {
			tabListContentItem.forEach((item) => {
				item.classList.add("hidden");
			});
			tabListItem.forEach((item) => {
				item.classList.remove("active");
			});
		}
	</script>
</html>
