<!DOCTYPE html>
<html lang="en">
	<%- include('../sections/head') %>
	<body>
		<%- include('../sections/navbar') %>

		<div class="max-w-screen-2xl mx-auto">
			<%- include('./alumniHero') %>

			<div class="flex flex-col w-full mb-20 items-center relative gap-2 px-2 text-center">
				<h1 class="font-bold md:text-6xl bg-white px-4 text-tertiary"><%=alumniTranslation.title%></h1>
				<hr class="h-2 w-20 bg-tertiary" />
				<h6 class="my-4"><%=alumniTranslation.subTitle%></h6>
			</div>

			<div class="flex flex-col items-center gap-20 pt-12 pb-40">
				
				<div class="grid grid-cols-1 md:grid-cols-3 w-full reveal fade-right px-4 text-center gap-20 md:gap-12">
					<%
					alumniList.forEach((alumni) => {
					%>
					<div class="flex flex-col items-center gap-4">
						<div>
							<img
								src="<%=alumni.imageUrl%>"
								alt=""
								class="w-40 h-40 object-cover rounded-full shadow-lg mx-auto object-top" />
						</div>
						<div class="flex flex-col justify-center items-center text-center">
							<hr class="h-1 w-20 bg-tertiary my-4" />
							<h5 class="font-bold"><%=alumni.fullName%></h5>
							<p><%=alumni.generation%></p>
							<p><%=alumni.job%></p>
						</div>
					</div>
					<%
					})
					%>
				</div>
				
			</div>
			<%- include('../sections/footer') %> <%- include('../components/chatWidget') %>
		</div>
	</body>
	
	<script src="/js/navbarUtils.js"></script>
	<script src="/js/onLoad.js"></script>
</html>
