<!DOCTYPE html>
<html lang="en">
	<%- include('../../sections/head') %>

	<body>
		<%- include('../../sections/navbar') %>

		<div class="max-w-screen-2xl mx-auto">

			<%- include('./historyHero') %>

			<div class="flex flex-col mb-60 md:gap-12 px-4 2xl:px-0">
				<div class="flex flex-col">
					<h1 class="font-bold text-tertiary md:text-4xl text-center py-20"><%=historyHero.historyEstablishment%></h1>
					<div class="timeline">

						<%
						historySectionList.forEach((history, index) => {

							if (index % 2 == 0)	{
						%>

						<div class="flex justify-between">
							<div class="relative md:hidden">
								<div class="circle"></div>
								<div class="vline"></div>
							</div>
							<div class="flex flex-col px-4 md:px-0 md:w-5/12 py-20">
								<div class="py-4 md:hidden">
									<img src="/img/history-1.jpeg" />
								</div>
								<h1 class="text-tertiary font-bold"><%=history.title%></h1>
								<h5 class="font-bold mb-4"><%=history.subtitle%></h5>
								<p class="text-secondary leading-relaxed">
									<%=history.content%>
								</p>
							</div>
							<div class="relative hidden md:flex">
								<div class="circle"></div>
								<div class="vline"></div>
							</div>
							<div class="w-5/12 py-20 hidden md:flex">
								<img src="/img/history-1.jpeg" />
							</div>
						</div>

						<%
							} else {
						%>
						
						<div class="flex flex-row-reverse justify-between">
							<div class="flex flex-col px-4 md:px-0 md:w-5/12 py-20">
								<div class="py-4 md:hidden">
									<img src="/img/history-1.jpeg" />
								</div>
								<h1 class="text-tertiary font-bold"><%=history.title%></h1>
								<h5 class="font-bold mb-4"><%=history.subtitle%></h5>
								<p class="text-secondary leading-relaxed">
									<%=history.content%>
								</p>
							</div>
							<div class="relative hidden md:flex">
								<div class="circle"></div>
								<div class="vline"></div>
							</div>
							<div class="w-5/12 py-20 hidden md:flex">
								<img src="/img/history-1.jpeg" />
							</div>
							<div class="relative md:hidden">
								<div class="circle"></div>
								<div class="vline"></div>
							</div>
						</div>

						<%
							}
						})
						%>
						
						
					</div>
				</div>
			</div>
		</div>

		<%- include('../../sections/footer') %>
		<%- include('../../components/chatWidget') %>
	</body>

	<script src="/js/navbarUtils.js"></script>
</html>
