<!DOCTYPE html>
<html lang="en">
	<%- include('../../commonSection/header') %>
	<body class="admin">
		<%- include('../../commonSection/navbar') %>

		<div class="admin-container">
			<%- include('../../commonSection/drawer') %>
			<div class="flex justify-between grow gap-8 overflow-auto">
				<div class="layout-card mb-12">
					<%- include('../../commonSection/LayoutHeader') %>

					<div class="container-card">
						<table class="overflow-x-scroll editable table-auto">
							<thead>
								<tr>
									<th class="title text-center">No</th>
									<th class="title">Lecturers</th>
									<th class="title">Email</th>
									<th class="title">Delete</th>
								</tr>
							</thead>
							<tbody>
								<% lecturerList.forEach((lecturer) => { %>
								<tr>
									<td class="text-center"><%=lecturer.pos%></td>
									<td>
										<div class="flex items-center gap-4">
											<div class="size-8 rounded-full overflow-hidden">
												<img
													src="<%=lecturer.imageUrl%>"
													class="w-full h-full object-cover object-center" />
											</div>
											<a
												href="/member/web/lecturer/<%=lecturer.id%>/update"
												class="m-0 p-0 h-fit hover:underline font-semibold text-secondary">
												<%=lecturer.fullName%>
											</a>
										</div>
									</td>
									<td>
										<a
											href="mailto:<%=lecturer.emailAddress%>"
											class="m-0 p-0 h-fit hover:underline font-semibold text-tertiary"
											><%=lecturer.emailAddress%></a
										>
									</td>
									<td>
										<a
											id="<%=lecturer.id%>"
											title="Delete Lecturer"
											class="delete-row m-0 p-0 h-fit w-fit rounded-md group-hover:inline py-2 px-4 hover:bg-tertiary">
											<i class="delete-bin remix secondary icon-xs"></i>
										</a>
									</td>
								</tr>
								<%});%>
							</tbody>
						</table>
					</div>
					<div class="container-card gap-6">
						<a href="lecturer/add" class="btn success">Add Lecturer</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	<%- include('../../commonSection/alertModal') %>
	<script>
		const lecturerTable = document.getElementById("lecturerTable");

		const rows = document.querySelectorAll(".delete-row");
		rows.forEach((row, index) => {
			row.addEventListener("mouseup", () =>
				openModal(index, `/member/web/lecturer/${row.id}/delete`)
			);
		});
	</script>
</html>
