<!DOCTYPE html>
<html lang="en">
	<%- include('./sections/head') %>
	<body>
		<%- include('./sections/navbar') %>

		<div class="max-w-screen-2xl mx-auto">
			<% if (news !== undefined){ %>
			<div class="flex flex-col mt-28 mb-20 mx-4 md:mx-16">
				<h1 class="text-4xl md:text-5xl md:w-3/4 font-bold mb-2"><%= news.title %></h1>
				<h6 class="mb-6 text-xs font-semibold"><%= news.subTitle %></h6>
				<div class="flex">
					<div class="flex md:justify-start md:w-3/4 max-h-[30rem]">
						<img
							src="/img//berita/<%= news.pic %>"
							alt=""
							class="max-w-full object-contain object-center md:object-left" />
					</div>
				</div>
				<div class="flex flex-col md:flex-row">
					<div class="w-full md:w-3/4 article"><%- news.content %></div>
					<div
						class="flex md:flex-col w-full md:w-1/4 my-8 pl-12 border-l border-tertiary h-fit items-center md:items-start gap-4 md:gap-0">
						<h6 class="text-sm font-semibold"><%= section.shareThis %></h6>
						<div class="flex gap-2">
							<a href="#" class="text-lg p-0 text-tertiary bi bi-facebook"></a>
							<a href="#" class="text-lg p-0 text-tertiary bi bi-twitter-x"></a>
							<a href="#" class="text-lg p-0 text-tertiary bi bi-linkedin"></a>
						</div>
					</div>
				</div>
			</div>

			<div class="flex flex-col border-t border-tertiary/50 md:mx-16 pt-8 pb-32 gap-4 px-4 md:px-0">
				<div class="flex gap-2">
					<div class="bg-tertiary w-3"></div>
					<h5 class="font-bold"><%= section.title %></h5>
				</div>

				<div class="relative overflow-hidden">
					<div class="slides news-slides">
						<div class="slide news-slide">
							<div class="flex flex-col md:flex-row w-full gap-4">
								<% let numberOfrows = allNews.data.length; let numberOfCardsPerPage = 4; const
								loadedContent = []; let n = 0; while (n<numberOfCardsPerPage) { let index =
								Math.floor(Math.random() * numberOfrows); if (allNews.data[index].id !== news.id &&
								loadedContent[index] == undefined) { %>
								<a
									class="info-card__home md:w-1/4"
									href="/berita/<%=allNews.data[index].id%>?lang=<%=selectedLanguage%>">
									<div class="info-card-img__container h-36 max-h-36">
										<img src="/img/berita/<%= allNews.data[index].pic %>" class="object-center" />
									</div>
									<p><%= allNews.data[index].title %></p>
									<span><%= allNews.data[index].subTitle %></span>
								</a>
								<% n++; loadedContent[index] = true; } } %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%
			} else { 
			%>
			<div class="flex flex-col mt-28 px-2">
				<div class="flex flex-col w-fit">
					<h1 class="font-bold text-secondary"><%= section.title %></h1>
					<hr class="h-2 w-1/2 bg-tertiary" />
				</div>
				<div class="grid grid-rows grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mt-12 mb-24">
					<% 
					allNews.data.forEach((news) => {
					%>
					<a class="info-card__home" href="/berita/<%=news.id%>?lang=<%=selectedLanguage%>">
						<div class="info-card-img__container h-36 max-h-36">
							<img src="/img/berita/<%= news.pic %>" class="object-center" />
						</div>
						<p><%= news.title %></p>
						<span><%= news.subTitle %></span>
					</a>
					<% 
					}); 
					%>
				</div>
			</div>
			<%
			} 
			%> 
			
			<%- include('./sections/footer') %>
			<%- include('./components/chatWidget') %>
		</div>
	</body>

	<script src="/js/navbarUtils.js"></script>
	<script src="/js/lecturerUtils.js"></script>
</html>
