<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/img/icon.png" />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
		<link rel="stylesheet" href="/css/style.css?v=27338bef-0735-43b6-adbd-fef91db26682" />
		<title><%= title %></title>
	</head>
	<body>
		<%- include('./sections/navbar') %>

		<div class="max-w-screen-2xl mx-auto">
			<div class="page-header w-full my-20">
				<div class="h-56 w-full">
					<img src="/img/our_people.jpeg" class="w-full h-full object-cover" />
					<h1
						class="text-5xl text-white text-end p-2 bg-tertiary font-semibold relative w-80"
						style="top: -10rem">
						<span class="text-primary">Dosen</span> Kami
					</h1>
				</div>
			</div>

			<section>
				<div class="flex flex-col gap-4 reveal fade-right">
					<% detailDosen.data.forEach((dosen) => { %>
					<div class="dosen-card-container">
						<div class="max-w-72 md:max-w-96 h-96 md:max-h-96">
							<img
								src="/img/lecturers/<%= dosen.pic %>"
								class="w-full h-full object-cover rounded-l-lg" />
						</div>
						<div id="<%= dosen.id %>" class="dosen-card-content-container">
							<div class="flex items-center md:items-start flex-col">
								<h3 class="font-bold"><%= dosen.name %></h3>
								<a
									href="mailto:<%= dosen.email %>"
									class="flex p-0 gap-2 items-start text-tertiary text-lg font-semibold text-sm w-fit">
									<span class="bi bi-envelope"></span>
									<span><%= dosen.email %></span>
								</a>
							</div>
							<div class="flex flex-col hidden md:flex">
								<div class="flex w-full items-end gap-2">
									<h6 class="tabs-lecturer active">PROFESSIONAL EXPERIENCE</h6>
									<h6 class="tabs-lecturer">EDUCATIONAL BACKGROUND</h6>
									<h6 class="tabs-lecturer">RESEARCH ACTIVITIES</h6>
								</div>
								<div class="tabs-content show">
									<% dosen.personalExp.forEach((exp) => { %>
									<div class="flex gap-2">
										<h5 class="bi bi-check-circle"></h5>
										<h6><%= exp %></h6>
									</div>
									<% }); %>
								</div>
								<div class="tabs-content hide">
									<% dosen.education.forEach((education) => { %>
									<div class="flex gap-2">
										<h5 class="bi bi-check-circle"></h5>
										<h6><%= education %></h6>
									</div>
									<% }); %>
								</div>
								<div class="tabs-content hide">
									<% dosen.research.forEach((research) => { %>
									<div class="flex gap-2">
										<h5 class="bi bi-check-circle"></h5>
										<h6><%= research %></h6>
									</div>
									<% }); %>
								</div>
							</div>
							<!-- <div class="flex flex-col w-full md:hidden">
								<h6 class="mobile-tabs tabs-lecturer accor">PROFESSIONAL EXPERIENCE</h6>
								<div class="tabs-content accor">
									<div class="flex gap-2">
										<h5 class="bi bi-check-circle"></h5>
										<h6 class="font-semibold">
											June 2023 - Present: Lecturer Indonesian Land Transportation Polytechnic –
											STTD
										</h6>
									</div>
									<div class="flex gap-2">
										<h5 class="bi bi-check-circle"></h5>
										<h6 class="font-semibold">
											January 2021 – June 2023: Apparatus Human Resources Analyst Indonesian Land
											Transportation Polytechnic – STTD
										</h6>
									</div>
								</div>
								<h6 class="mobile-tabs tabs-lecturer accor">EDUCATIONAL BACKGROUND</h6>
								<div class="tabs-content accor">
									<div class="flex gap-2">
										<h5 class="bi bi-check-circle"></h5>
										<h6>
											2016-2017: Master in Public Administration The Mensis College of
											Administrative Sciences
										</h6>
									</div>
									<div class="flex gap-2">
										<h5 class="bi bi-check-circle"></h5>
										<h6>2003: Bachelor in Information Technology Bina Nusantara University</h6>
									</div>
								</div>
								<h6 class="mobile-tabs tabs-lecturer accor">RESEARCH ACTIVITIES</h6>
								<div class="tabs-content accor">
									<div class="flex gap-2">
										<h5 class="bi bi-check-circle"></h5>
										<h6>Transport</h6>
									</div>
									<div class="flex gap-2">
										<h5 class="bi bi-check-circle"></h5>
										<h6>Public Administration</h6>
									</div>
									<div class="flex gap-2">
										<h5 class="bi bi-check-circle"></h5>
										<h6>Computer Science</h6>
									</div>
									<div class="flex gap-2">
										<h5 class="bi bi-check-circle"></h5>
										<h6>Government</h6>
									</div>
								</div>
							</div> -->
						</div>
					</div>
					<% }); %>
				</div>
			</section>

			<%- include('./sections/footer') %> <%- include('./components/chatWidget') %>
		</div>
	</body>
	<script>
		const tabsLecturer = document.querySelectorAll(".tabs-lecturer");
		tabsLecturer.forEach((tabs, index) => {
			tabs.addEventListener("mouseup", () => {
				const targetParent = event.target.closest(".dosen-card-content-container");

				const targetTabs = targetParent.querySelectorAll(".tabs-lecturer");
				targetTabs.forEach((tabs) => {
					tabs.classList.remove("active");
				});

				const clickedTabs = event.target;
				clickedTabs.classList.add("active");

				const targetContent = targetParent.querySelectorAll(".tabs-content");
				const n = index % 3;

				targetContent.forEach((tabContent, idx) => {
					if (tabContent.classList.contains("show")) {
						tabContent.classList.remove("show");
						tabContent.classList.add("hide");
					}
					if (n == idx) {
						tabContent.classList.remove("hide");
						tabContent.classList.add("show");
					}
				});
			});
		});
	</script>
	<script src="/js/navbarUtils.js"></script>
	<script src="/js/lecturerUtils.js"></script>
</html>
