<!DOCTYPE html>
<html lang="en">
	<%- include('./sections/head') %>
	<body>
		<%- include('./sections/navbar') %>

		<div class="max-w-screen-2xl mx-auto">
			<div class="page-header w-full my-20">
				<div class="h-56 w-full">
					<img src="/img/our_people.jpeg" class="w-full h-full object-cover" />
					<h1
						class="text-5xl text-white text-start p-2 bg-tertiary font-semibold relative w-80"
						style="top: -10rem">
						<%= detailDosen.section[selectedLanguage].title %>
					</h1>
				</div>
			</div>

			<section>
				<div class="flex flex-col gap-6">
					<% 
					const cardPerPage = 5;
					const numberOfRows = detailDosen.data.length;

					const numberOfPages = Math.ceil(numberOfRows / cardPerPage);

					const startIndex = (pageNumber - 1) * cardPerPage;

					for (let n=startIndex; n<numberOfRows && n<(cardPerPage * pageNumber); n++) {
					%>
					<div class="dosen-card-container reveal fade-right">
						<div class="max-w-72 md:max-w-96 h-96 md:max-h-96">
							<img
								src="/img/lecturers/<%= detailDosen.data[n].pic %>"
								class="w-full h-full object-cover rounded-l-lg" />
						</div>
						<div id="<%= detailDosen.data[n].id %>" class="dosen-card-content-container">
							<div class="flex items-center md:items-start flex-col">
								<h3 class="font-bold"><%= detailDosen.data[n].name %></h3>
								<div class="flex flex-col items-center md:flex-row md:gap-4">
									<a
										href="mailto:<%= detailDosen.data[n].email %>"
										class="flex p-0 gap-2 items-start text-tertiary text-lg font-semibold text-sm w-fit h-fit py-2">
										<span class="bi bi-envelope"></span>
										<span><%= detailDosen.data[n].email %></span>
									</a>
									<a
										href="/dosen/<%= detailDosen.data[n].profile %>"
										target="_blank"
										class="flex p-0 gap-2 items-start text-tertiary text-lg font-semibold text-sm w-fit h-fit py-2">
										<span class="bi bi-person-circle"></span>
										<span>Detail Profile</span>
									</a>
								</div>
							</div>
							<div class="flex flex-col hidden md:flex">
								<div class="flex w-full items-end gap-2">
									<h6 class="tabs-lecturer active">
										<%= detailDosen.section[selectedLanguage].tabs[0] %>
									</h6>
									<h6 class="tabs-lecturer">
										<%= detailDosen.section[selectedLanguage].tabs[1] %>
									</h6>
									<h6 class="tabs-lecturer">
										<%= detailDosen.section[selectedLanguage].tabs[2] %>
									</h6>
								</div>
								<div class="tabs-content show">
									<% detailDosen.data[n].personalExp.forEach((exp) => { %>
									<div class="flex gap-2">
										<h5 class="bi bi-dot"></h5>
										<h6><%= exp %></h6>
									</div>
									<% }); %>
								</div>
								<div class="tabs-content hide">
									<% detailDosen.data[n].education.forEach((education) => { %>
									<div class="flex gap-2">
										<h5 class="bi bi-dot"></h5>
										<h6><%= education %></h6>
									</div>
									<% }); %>
								</div>
								<div class="tabs-content hide">
									<% detailDosen.data[n].research.forEach((research) => { %>
									<div class="flex gap-2">
										<h5 class="bi bi-dot"></h5>
										<h6><%= research %></h6>
									</div>
									<% }); %>
								</div>
							</div>
							<div id="mobile-tabs-content" class="flex flex-col w-full md:hidden px-2 mb-2">
								<h6 class="mobile-tabs-lecturer">
									<%= detailDosen.section[selectedLanguage].tabs[0] %>
								</h6>
								<div class="flex flex-col bg-tertiary/10 gap-2 p-2 md:p-0 hidden">
									<% detailDosen.data[n].personalExp.forEach((exp) => { %>
									<div class="flex gap-2">
										<h5 class="bi bi-dot"></h5>
										<h6><%= exp %></h6>
									</div>
									<% }); %>
								</div>
							</div>
							<div class="flex flex-col w-full md:hidden px-2 mb-2">
								<h6 class="mobile-tabs-lecturer">
									<%= detailDosen.section[selectedLanguage].tabs[1] %>
								</h6>
								<div class="flex flex-col bg-tertiary/10 gap-2 p-2 md:p-0 hidden">
									<% detailDosen.data[n].education.forEach((education) => { %>
									<div class="flex gap-2">
										<h5 class="bi bi-dot"></h5>
										<h6><%= education %></h6>
									</div>
									<% }); %>
								</div>
							</div>
							<div class="flex flex-col w-full md:hidden px-2 mb-2">
								<h6 class="mobile-tabs-lecturer">
									<%= detailDosen.section[selectedLanguage].tabs[2] %>
								</h6>
								<div class="flex flex-col bg-tertiary/10 gap-2 p-2 md:p-0 hidden">
									<% detailDosen.data[n].research.forEach((research) => { %>
									<div class="flex gap-2">
										<h5 class="bi bi-dot"></h5>
										<h6><%= research %></h6>
									</div>
									<% }); %>
								</div>
							</div>
						</div>
					</div>
					<% }	 %>

					<div class="flex gap-4 justify-center">
						<%
						for (let n=0; n<numberOfPages; n++) {
							let className = "bg-secondary/50";
							if (pageNumber == (n+1)) {
								className = "bg-tertiary/50";
							}
						%>
							<a href="?lang=<%=selectedLanguage%>&page=<%=(n+1)%>" class="<%=className%> hover:bg-tertiary px-4 py-2 rounded-full text-white"><%= (n+1) %></a>
						<%
						}
						%>
					</div>
				</div>
			</section>

			<%- include('./sections/footer') %> <%- include('./components/chatWidget') %>
		</div>
	</body>
	<script>
		const tabsLecturer = document.querySelectorAll(".tabs-lecturer");
		tabsLecturer.forEach((tabs, index) => {
			tabs.addEventListener("mouseup", () => {
				const targetParent = event.target.closest(".dosen-card-content-container");

				const targetTabs = targetParent.querySelectorAll(".tabs-lecturer");
				targetTabs.forEach((tabs) => {
					tabs.classList.remove("active");
				});

				const clickedTabs = event.target;
				clickedTabs.classList.add("active");

				const targetContent = targetParent.querySelectorAll(".tabs-content");
				const n = index % 3;

				targetContent.forEach((tabContent, idx) => {
					if (tabContent.classList.contains("show")) {
						tabContent.classList.remove("show");
						tabContent.classList.add("hide");
					}
					if (n == idx) {
						tabContent.classList.remove("hide");
						tabContent.classList.add("show");
					}
				});
			});
		});

		const mobileTabsLecturer = document.querySelectorAll(".mobile-tabs-lecturer");
		mobileTabsLecturer.forEach((mobileTab) => {
			mobileTab.addEventListener("mouseup", () => {
				const target = event.target.nextElementSibling;

				if (target.classList.contains("hidden")){
					target.classList.remove("hidden");
				}else{
					target.classList.add("hidden");
				}

				// if (target.style.display == "block") {
				// 	target.style.display = "none";
				// } else {
				// 	target.style.display = "block";
				// }
			});
		});
	</script>
	<script src="/js/navbarUtils.js"></script>
	<script src="/js/lecturerUtils.js"></script>
</html>
