<!DOCTYPE html>
<html lang="en">
	<%- include('../../commonSection/header') %>
	<body>
		<%- include('../../commonSection/navbar') %>

		<div class="flex w-full mt-16 bg-gray-100">
			<%- include('../../commonSection/drawer') %>
			<div class="flex justify-between grow p-4 gap-8 overflow-auto">
				<!-- container ini untuk layout dengan > 1 kolom -->
				<div class="layout-card mb-12">
					<div class="layout-card__header">
						<div class="flex justify-between">
							<h1 class="title">Update Sections</h1>
						</div>
						<% if (alertMessage) { %>
						<p class="alert-badge <%=alertMessage.className%>"><%=alertMessage.message%></p>
						<% } %>
					</div>
					<div class="container-card flex-col w-full mb-4">
						<h3 class="text-info font-semibold mb-4">Preview</h3>
						<%- include('../../../template/section/SimpleBasicPreview') %>
					</div>
					<form
						class="custom-form"
						method="POST"
						id="addSectionsForm"
						enctype="multipart/form-data"
						action="/member/components/section/<%=existingSectionData.id%>/update">
						<div class="container-card w-full mb-4">
							<div class="flex gap-4 w-full">
								<div id="sectionInputContainer" class="flex flex-col gap-4 border-0">
									<div>
										<label for="Section Heading">Section Heading</label>
										<input
											id="sectionHeading"
											name="sectionHeading"
											type="text"
											maxlength="512"
											value="<%=existingSectionData.heading%>"
											size="75"
											required />
									</div>
									<div>
										<label for="Section Subheading">Section Sub Heading</label>
										<input
											id="sectionSubHeading"
											name="sectionSubHeading"
											type="text"
											maxlength="512"
											value="<%=existingSectionData.subheading%>"
											size="75"
											required />
									</div>
									<div>
										<label for="Facility Description">Content</label>
										<textarea rows="10" id="sectionContent" name="sectionContent" required>
<%=existingSectionData.content%></textarea
										>
									</div>
									<div>
										<label for="Section Image">Section Image</label>
										<span class="file-name" id="fileName"
											><%=existingSectionData.original_filename%></span
										>
										<input
											id="sectionDisplayImageFile"
											name="sectionDisplayImageFile"
											type="file"
											class="hidden"
											accept=".png, .jpg, .jpeg, .pdf" />
									</div>
								</div>
							</div>
						</div>
						<div class="container-card gap-6">
							<button type="submit" class="btn success">Save</button>
							<a href="/member/components/section" class="text-link danger-bold">Discard Changes</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			const sectionContent = `<%- JSON.stringify(existingSectionData.content || "") %>`;
			if (sectionContent) {
				const formattedContent = sectionContent
					.replace(/- /g, "• ") // Replace "- " with bullets
					.replace(/\r\n|\n/g, "<br>")
					.replace(/^"|"$/g, "");

				document.getElementById("contentPlaceholder").innerHTML = formattedContent;
			}
		});

		const sectionDisplayImageFile = document.getElementById("sectionDisplayImageFile");

		sectionDisplayImageFile.addEventListener("change", function (event) {
			const file = event.target.files[0];
			if (file) {
				const reader = new FileReader();
				reader.onload = function (e) {
					document.getElementById("imagePlaceholder").src = e.target.result;
				};
				reader.readAsDataURL(file);
			}
		});

		const contentPlaceholder = document.querySelector("#contentPlaceholder");
		const placeholderInput = document.querySelectorAll(".placeholder-input");
		const sectionInputContainer = document.querySelector("#sectionInputContainer");
		const inputElement = sectionInputContainer.querySelectorAll("input[type='text']");
		inputElement.forEach((item, index) => {
			item.addEventListener("input", () => {
				placeholderInput[index].textContent = item.value;
			});
		});

		const sectionContent = document.getElementById("sectionContent");
		sectionContent.addEventListener("input", () => {
			const textWithLineBreaks = event.target.value.replace(/\n/g, "<br>").replace(/- /g, "• ");
			contentPlaceholder.innerHTML = textWithLineBreaks;
		});

		const fileNameDisplay = document.getElementById("fileName");

		fileNameDisplay.addEventListener("mouseup", () => {
			sectionDisplayImageFile.click();
		});

		// When the file input changes, update the displayed file name
		sectionDisplayImageFile.addEventListener("change", function () {
			const fileName =
				sectionDisplayImageFile.files.length > 0
					? sectionDisplayImageFile.files[0].name
					: "No file chosen";
			fileNameDisplay.textContent = fileName;
		});
	</script>
</html>
