<!DOCTYPE html>
<html lang="en">
	<%- include('../sections/head') %>

	<body>
		<%- include('../sections/navbar') %>

		<div class="max-w-screen-2xl mx-auto">
			<div class="flex flex-col gap-6 px-4 my-20">
				<% if (alertMessage) { %>
					<p class="alert-badge <%=alertMessage.className%>"><%=alertMessage.message%></p>
				<% } %>
				<div class="flex flex-col w-fit">
					<h1 class="font-bold text-secondary"><%= complaintsTranslation.title %></h1>
					<hr class="h-2 w-1/2 bg-tertiary" />
				</div>
				<h5 class="text-secondary mb-8"><%= complaintsTranslation.subTitle %></h5>
				<div class="flex flex-col md:flex-row justify-between gap-20 md:gap-32">
					<%- include('./complaintsForm') %>
					<div class="flex flex-col md:w-1/2 gap-8">
						<div class="flex flex-col items-center md:hidden">
							<hr class="w-full h-0.5 bg-tertiary" />
							<h6 class="bg-white p-2 text-tertiary font-bold relative bottom-5">OR</h6>
						</div>
						<div class="flex items-start gap-3">
							<h4 class="bi bi-chat text-tertiary"></h4>
							<div class="flex flex-col">
								<h5 class="font-bold text-tertiary"><%= complaintsTranslation.chatUs %></h5>
								<p class="text-secondary mb-1"><%= complaintsTranslation.chatUsLabel %></p>
								<p class="text-secondary font-bold">
									<% contactInfo["email"].forEach(email => { %> <%= email.value %>
									<br />
									<% }); %>
								</p>
							</div>
						</div>
						<div class="flex items-start gap-3">
							<h4 class="bi bi-geo-alt text-tertiary"></h4>
							<div class="flex flex-col">
								<h5 class="font-bold text-tertiary"><%= complaintsTranslation.visitUs %></h5>
								<p class="text-secondary mb-1"><%= complaintsTranslation.visitUsLabel %></p>
								<p class="text-secondary font-bold"><%- companyInfo.address %></p>
							</div>
						</div>
						<div class="flex items-start gap-3">
							<h4 class="bi bi-telephone text-tertiary"></h4>
							<div class="flex flex-col">
								<h5 class="font-bold text-tertiary"><%= complaintsTranslation.callUs %></h5>
								<p class="text-secondary mb-1"><%= complaintsTranslation.callUsLabel %></p>
								<p class="text-secondary font-bold">
									<% contactInfo["telephone"].forEach(phoneNumber => { %> <%=phoneNumber.value %> <% });
									%>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<%- include('../sections/footer') %>
			<%- include('../components/chatWidget') %>
		</div>
	</body>

	<script src="/js/navbarUtils.js"></script>
	

	
</html>
