<!DOCTYPE html>
<html lang="en">
	<%- include('../../commonSection/header') %>
	<body>
		<%- include('../../commonSection/navbar') %>

		<div class="flex w-full mt-16">
			<%- include('../../commonSection/drawer') %>
			<div class="flex justify-between grow p-4 gap-8 overflow-auto">
				<!-- container ini untuk layout dengan > 1 kolom -->
				<div class="layout-card">
					<div class="layout-card__header">
						<div class="flex justify-between">
							<h1 class="title">Our Alumni</h1>
							<a href="alumni/add" class="text-red-800 text-right underline p-0 m-0"
								>Add New Alumni</a
							>
						</div>
						<% if (typeof responseMessage !== 'undefined') { %>
						<p class="badge-admin <%= responseMessageClass %>"><%= responseMessage %></p>
						<% } %>
					</div>
					<table id="alumniTable" class="overflow-x-scroll editable">
						<thead>
							<tr>
								<th>Name</th>
								<th>Year Class</th>
								<th>Job Position</th>
								<th>Display Order</th>
							</tr>
						</thead>
						<tbody>
							<% alumniList.forEach((alumni) =>{ %>
							<tr class="group min-h-12 h-12">
								<td><%=alumni.fullName%></td>
								<td class="w-32 max-w-32"><%=alumni.generation%></td>
								<td><%=alumni.job%></td>
								<td class="text-center">
									<a
										id="<%=alumni.id%>"
										title="Delete Employee"
										class="delete-row hidden rounded-md group-hover:inline py-2 px-4 hover:bg-tertiary">
										<i class="delete-bin remix secondary icon-xs"></i> </a
									><a
										href="/member/web/alumni/<%=alumni.id%>/update"
										title="Update Employee"
										class="hidden rounded-md group-hover:inline py-2 px-4 hover:bg-tertiary">
										<i class="pencil-edit remix secondary icon-xs"></i>
									</a>
									<p class="group-hover:hidden"><%=alumni.pos%></p>
								</td>
							</tr>
							<% }) %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
	<%- include('../../commonSection/alertModal') %>
	<script>
		const alumniTable = document.getElementById("alumniTable");

		const rows = document.querySelectorAll(".delete-row");
		rows.forEach((row, index) => {
			row.addEventListener("mouseup", () => openModal(index, `/member/web/alumni/${row.id}/delete`));
		});
	</script>
</html>
