<!DOCTYPE html>
<html lang="en">
<%- include('../sections/head') %>

<body>
  <div class="hidden">
    <div class="min-w-xs max-w-md w-full my-10">
      <form id="loginForm" action="/login" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="flex flex-col justify-center py-12">
          <img src="/img/logo.jpg" class="w-1/2 mx-auto" />
          <h6 class="mx-auto text-primary font-semibold">Attendance Login</h6>
        </div>
        <div class="mb-4">
          <label for="email">Email</label>
          <input id="email" name="email" type="email" placeholder="Enter your email address" required />
        </div>
        <div class="mb-6">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" placeholder="Enter your password" autocomplete="off" required />
        </div>
        <div class="flex items-center justify-between mb-6">
          <button id="signInButton" class="btn block" type="submit">Sign In</button>
        </div>
        <a class="flex justify-center text-link" href="#">Forget Password</a>
      </form>
    </div>
  </div>

  <%- include('../sections/navbar') %>

  <%- include('./homeHero') %>

  <div class="max-w-screen-2xl mx-auto">

    <%- include('./homeCarousel') %>

    <%- include('./welcome') %>
    
    <%- include('./talkToUs') %>

    <%- include('./alumnies') %>

    <%- include('./lecturers') %>
    <%- include('./news') %>
    <%- include('../sections/footer') %>
    <%- include('../components/chatWidget') %>

  </div>
</body>

<script src="/js/navbarUtils.js"></script>
<script src="/js/homeCarousel.js"></script>
<script src="/js/onLoad.js"></script>

</html>