<!DOCTYPE html>
<html lang="en">
<%- include('../sections/head') %>

<body>

  <%- include('../sections/navbar') %>

  <%- include('./homeHero') %>

  <div class="max-w-screen-2xl mx-auto">

    <%- include('./homeCarousel') %>

    <%- include('./welcome') %>
    
    <%- include('./talkToUs') %>

    <%- include('./alumnies') %>

    <%- include('./lecturers') %>
    <%- include('./news') %>
    <%- include('../sections/footer') %>
    <%- include('../components/chatWidget') %>

  </div>
</body>

<script src="/js/navbarUtils.js"></script>
<script src="/js/homeCarousel.js"></script>
<script src="/js/onLoad.js"></script>

</html>