<!DOCTYPE html>
<html lang="en">
	<%- include('../../../sections/head') %>

	<body>
		<%- include('../../../sections/navbar') %>
		<div class="max-w-screen-2xl mx-auto">
			
			<%- include('header') %> 
			<%- include('main-content') %> 
			<%-include('../../../sections/footer') %> 
			<%- include('../../../components/chatWidget') %>
		</div>
		
	</body>
	<script src="/js/navbarUtils.js"></script>
	<script src="/js/lecturerUtils.js"></script>
</html>
