<!DOCTYPE html>
<html lang="en">
	<%- include('../../sections/head') %>

	<body>
		<%- include('../../sections/navbar') %>

		<div class="max-w-screen-2xl mx-auto">
			<%- include('./ourLeadersHero') %>

			<div class="flex flex-col w-full mb-20 items-center relative gap-2">
				<h1 class="font-bold md:text-6xl bg-white px-4 text-tertiary">
					<%=ourLeadersHeroTitle.ourLeadersHero%>
				</h1>
				<hr class="h-2 w-20 bg-tertiary" />
			</div>

			<div class="flex flex-col items-center gap-20 pt-12 pb-40">

				<div
					class="grid grid-cols-1 xl:grid-cols-3 w-full reveal fade-right px-4 text-center gap-12 xl:gap-20">
					<%
					ourLeadersList.forEach((leader) => {
					%>
					<div class="flex flex-col items-center gap-8">
						<div>
							<img
								src="<%=leader.imageUrl%>"
								alt=""
								class="w-60 h-60 object-cover rounded-full shadow-lg mx-auto object-top" />
						</div>
						<div class="flex flex-col justify-center items-center">
							<hr class="h-1 w-20 bg-tertiary mb-4" />
							<h3 class="font-bold"><%=leader.fullName%></h3>
							<h6><%=leader.job%></h6>
						</div>
					</div>					
					<%
					});
					%>
				</div>
			</div>
		</div>

		<%- include('../../sections/footer') %> 
		<%- include('../../components/chatWidget') %>
	</body>

	<script src="/js/navbarUtils.js"></script>
	<script src="/js/onLoad.js"></script>
</html>
